@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #4b6cb7;
  background: linear-gradient(0.25turn, #4b6cb7, #182848);
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

h1 {
  color: #fff;
  margin-top: 32px;
}

.calculator {
  width: 380px;
  padding: 8px;
  background: #2c3e50;
  border: 2px solid #333;
  border-radius: 8px;
}

.calculator .name {
  margin: 6px 8px;
  color: #fff;
  font-size: 16px;
  text-align: end;
}

.calculator .display {
  width: 90%;
  padding: 16px;
  margin: 16px auto;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #444444;
  background: #d8e4e9;
  border: 4px solid #b0b8ba;
  border-radius: 12px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  font-size: 2.5rem;
  overflow: hidden;
  white-space: nowrap;
}

.calculator .buttons {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.buttons .row {
  width: 90%;
  display: flex;
  gap: 2px;
}

.buttons .button {
  width: 64px;
  height: 64px;
  flex-grow: 1;
  color: #fff;
  background: #8e9eab;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.1s opacity 0.1s;
}

.buttons .button:hover {
  filter: brightness(0.9);
}

.buttons .button.span-two {
  flex-grow: 2;
}

.buttons .button.color {
  background: #f7b733;
}

.buttons .button.faded {
  background: rgba(142, 158, 171, 0.75);
}

.button.active {
  transform: scale(0.95);
  opacity: 0.8;
}

footer {
  width: 100%;
  padding: 8px;
  color: #fff;
  background: #182848;
  text-align: center;
}
